.LoadItem {
    width: 12%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    text-align: left;

    &.red {
        background-color: lightcoral;
    }

    .load-details-btn {
        font-size: 16px;
    }
}