.LoadItem {
    width: 14%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    text-align: left;
    font-size: 18px;

    &.red {
        background-color: lightcoral;
        color: white;
        font-weight: bold;
    }

    .load-details-btn {
        font-size: 16px;
    }

    .buttons-section {
        display: flex;
        justify-content: space-between;
    }
}